

#clear {
    background-color: red;
}

#save:enabled {
    background-color: green;
}

img {
    cursor: pointer;
    display: inline;
    float: right;
}

.formContainer > h2 {
    display: inline;
}
